/* MatchingQuestion.css */

.matching-question-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.pair-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie dla elementów w kolumnie */
  margin-bottom: 30px;
  font-size: 1.3rem;
}


.left-side {
  color: #333;
  font-size: 1.6rem;
  margin-bottom: 20px; /* Asumując, że to jest bardziej standardowy margines */
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center; /* Wyśrodkowanie tekstu, jeśli to jest zamierzone */
  width: 100%; /* Pełna szerokość dla spójności */
}
