/* QuizSummary.css */

/* Styl głównego kontenera podsumowania quizu */
.quiz-summary-container {
    background-color: #f9f9f9; /* Jasne tło dla kontenera */
    padding: 20px; /* Odstępy wewnątrz kontenera */
    border-radius: 8px; /* Zaokrąglenie rogów kontenera */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtelny cień */
    max-width: 600px; /* Maksymalna szerokość kontenera */
    margin: 30px auto; /* Wyśrodkowanie kontenera */
    text-align: left; /* Wyrównanie tekstu do lewej */
    
}

/* Styl dla nagłówków w podsumowaniu */
.quiz-summary-header {
    color: #333; /* Kolor tekstu nagłówka */
    font-size: 2.5rem; /* Wielkość czcionki nagłówka */
    margin-bottom: 15px; /* Odstęp pod nagłówkiem */
    
}

/* Styl dla paragrafów z wynikami i odpowiedziami */
.quiz-summary-text {
    color: #555; /* Kolor tekstu */
    font-size: 1rem; /* Wielkość czcionki tekstu */
    margin-bottom: 10px; /* Odstęp pod paragrafem */
    font-size: 1.1rem;
}

/* Styl dla kontenera z pytaniem i odpowiedziami */
.question-answer-container {
    background-color: #fff; /* Tło dla kontenera z pytaniem i odpowiedziami */
    padding: 15px; /* Odstępy wewnątrz kontenera */
    border: 1px solid #ddd; /* Obwódka kontenera */
    border-radius: 4px; /* Zaokrąglenie rogów kontenera */
    margin-bottom: 20px; /* Odstęp między kontenerami pytań */
}

/* Styl dla nagłówków pytań */
.question-header {
    color: #333; /* Kolor tekstu pytania */
    font-weight: bold; /* Pogrubienie tekstu pytania */
    margin-bottom: 10px; /* Odstęp pod pytaniem */
    font-size: 1.6rem;
}


/* Dodaj ten styl do pliku QuizSummary.css */

.quiz-summary-link, .quiz-summary-link:visited, .quiz-summary-button, .quiz-summary-button:visited {
    display: inline-block; /* Zachowuje elementy w lini */
    margin: 0 10px; /* Odstępy po bokach dla oddzielenia elementów */
    padding: 10px 20px; /* Odstępy wewnątrz przycisków/linków */
    color: white; /* Kolor tekstu */
    background-color: #007bff; /* Kolor tła */
    text-decoration: none; /* Usuwa podkreślenie linków */
    border: none; /* Usuwa domyślną obwódkę przycisku */
    border-radius: 5px; /* Zaokrąglenie rogów */
    transition: background-color 0.3s ease; /* Animacja zmiany koloru tła */
    cursor: pointer; /* Kursor 'ręka' przy najechaniu */
    outline: none; /* Usuwa domyślne podświetlenie przycisku przy fokusie */
    font-family: inherit; /* Upewnia się, że font jest spójny */
    font-size: 1rem; /* Dostosowuje wielkość czcionki */
}

/* Styl dla hover dla obu, linku i przycisku */
.quiz-summary-link:hover, .quiz-summary-button:hover {
    background-color: #0056b3;
}

/* Usunięcie dodatkowych stylów dla elementów 'button' */
button.quiz-summary-button {
    border: none;
    appearance: none;
    -webkit-appearance: none; /* Dla przeglądarek opartych na WebKit jak Chrome/Safari */
    -moz-appearance: none; /* Dla przeglądarek opartych na Gecko jak Firefox */
}

/* Ogólne style dla boxów z odpowiedziami */
.answer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
}

/* Styl dla poprawnych odpowiedzi */
.answer-box.correct {
    background-color: green;
    color: white;
}

/* Styl dla zaznaczonych, ale niepoprawnych odpowiedzi */
.answer-box.incorrect {
    background-color: red;
    color: white;
}

/* Styl dla odpowiedzi, które nie zostały zaznaczone */
.answer-box.neutral {
    background-color: #f0f0f0; /* jasne tło dla neutralnego wyglądu */
    color: black;
}

/* Styl dla boxów z poprawnymi odpowiedziami w rozwijanym panelu */
.correct-answers-container {
    margin-top: 15px;
    padding: 10px;
    background-color: #fff; /* jasne tło dla poprawnych odpowiedzi */
    border-radius: 5px;
    text-align: center;
}

.correct-answer {
    padding: 5px;
    margin-bottom: 5px;
}

/* Style dla przycisku rozwijania odpowiedzi */
.toggle-correct-answers {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    display: block; /* aby przycisk był wyśrodkowany */
    margin-left: auto;
    margin-right: auto;
}

/* Style dla wyśrodkowania nagłówków pytań */
.question-header {
    text-align: center;
}


.answer-pair-container {
    margin-bottom: 10px; /* lub inna wartość, aby oddzielić pary odpowiedzi */
}

.answer-box {
    padding: 10px; /* lub inna wartość dla odpowiedniego paddingu */
    margin: 5px 0; /* dodaje margines pomiędzy boxami */
}

.left-item {
    background-color: #f0f0f0; /* szare tło dla lewej strony */
}

.right-item.correct {
    background-color: #c8e6c9; /* zielone tło dla poprawnych odpowiedzi po prawej stronie */
}

.right-item.incorrect {
    background-color: #ffcdd2; /* czerwone tło dla niepoprawnych odpowiedzi po prawej stronie */
}


.correct-answer-box {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    text-align: center;
}

.explanation-container {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    text-align: left;
}




.quiz-summary-actions {
    display: flex; /* Ustawia flexbox dla kontenera */
    justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
    align-items: center; /* Wyśrodkowanie zawartości w pionie (opcjonalnie) */
    margin-top: 20px; /* Odstęp nad przyciskami nawigacyjnymi */
}